body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/App.css */
:root {
  --background-color: #ffffff; /* Light mode background */
  --text-color: #000000; /* Light mode text */
  --link-color: #007bff; /* Link color in light mode */
}

[data-theme='dark'] {
  --background-color: #000000; /* Dark mode background */
  --text-color: #ffffff; /* Dark mode text */
  --link-color: #1e90ff; /* Link color in dark mode */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--link-color);
}
